<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>645473362429-aeu24dtdd15jd0qphp2fqvlqubkroj3b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.645473362429-aeu24dtdd15jd0qphp2fqvlqubkroj3b</string>
	<key>API_KEY</key>
	<string>AIzaSyBj1yuNKupQSdYwb3boRZ9JKLhGC8SZrbE</string>
	<key>GCM_SENDER_ID</key>
	<string>645473362429</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.barapp</string>
	<key>PROJECT_ID</key>
	<string>barapp-fadb6</string>
	<key>STORAGE_BUCKET</key>
	<string>barapp-fadb6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:645473362429:ios:4887d542ef750cc1aa3994</string>
</dict>
</plist>